<div id="card-section">
    <div class="cards card1">
        <div class="box1">
            <h1>1</h1>
        </div>
        <div class="box2">
            <h1>Post a Job you want</h1>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor. Lorem ipsum
                dolor sit amet. </p>
        </div>
    </div>
    <div class="cards card2">
        <div class="box1">
            <h1>2</h1>
        </div>
        <div class="box2">
            <h1>Contact babysitters</h1>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor. Lorem ipsum
                dolor sit amet. </p>
        </div>
    </div>
    <div class="cards card3">
        <div class="box1">
            <h1>3</h1>
        </div>
        <div class="box2">
            <h1>Hire with confidence</h1>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor. Lorem ipsum
                dolor sit amet. </p>
        </div>
    </div>
</div>

<div id="welcome">
    <center>
        <h1>Welcome to Our Site!</h1>
        <p>Curabitur eget rhoncus quam, vel elementum arcu. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
        <button class = btn>Join Now!</button>
    </center>
</div>
<h1 id="latest-babysitters-heading">Latest Babysitters</h1>
<div id="latest-babysitters">
    <div class="card-wraper">
        <div class="bx img">
            <img src="res/media/bsitter-1.jpg" alt="">
        </div>
        <div class="bx2">
            <h5>Hannah S.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="bx3">
            <ul>
                <li><i class="fas fa-folder-open"></i><span> &nbsp; Babysitter</span></li>
                <li><i class="fas fa-map-marker-alt"></i><span> &nbsp; Orlando, FL</span></li>
                <li><i class="fas fa-sign-out-alt"></i><span> &nbsp; Posted 1 day ago</span></li>
            </ul>
        </div>
    </div>
    <div class="card-wraper">
        <div class="bx img">
            <img src="res/media/bsitter-2.jpg" alt="">
        </div>
        <div class="bx2">
            <h5>Elizabeth G.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="bx3">
            <ul>
                <li><i class="fas fa-folder-open"></i><span> &nbsp; Babysitter</span></li>
                <li><i class="fas fa-map-marker-alt"></i><span> &nbsp; Orlando, FL</span></li>
                <li><i class="fas fa-sign-out-alt"></i><span> &nbsp; Posted 1 day ago</span></li>
            </ul>
        </div>
    </div>
    <div class="card-wraper">
        <div class="bx img">
            <img src="res/media/bsitter-3.jpg" alt="">
        </div>
        <div class="bx2">
            <h5>Jessica F.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="bx3">
            <ul>
                <li><i class="fas fa-folder-open"></i><span> &nbsp; Babysitter</span></li>
                <li><i class="fas fa-map-marker-alt"></i><span> &nbsp; Orlando, FL</span></li>
                <li><i class="fas fa-sign-out-alt"></i><span> &nbsp; Posted 1 day ago</span></li>
            </ul>
        </div>
    </div>
    <div class="card-wraper">
        <div class="bx img">
            <img src="res/media/bsitter-4.jpg" alt="">
        </div>
        <div class="bx2">
            <h5>Elizabeth G.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="bx3">
            <ul>
                <li><i class="fas fa-folder-open"></i><span> &nbsp; Babysitter</span></li>
                <li><i class="fas fa-map-marker-alt"></i><span> &nbsp; Orlando, FL</span></li>
                <li><i class="fas fa-sign-out-alt"></i><span> &nbsp; Posted 1 day ago</span></li>
            </ul>
        </div>
    </div>
</div>

<div id="about-section">
    <div class="about-box1 about-box">
        <h1>About Us</h1>
        <span>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
        </span>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
        <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
        <button class = btn>Read Nire</button>
    </div>
    <div class="about-box2 about-box">
        <h1>Our Services</h1>
        <p>Sed non mauris vitae erat consequat auctor eu in elit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
        <ol>
            <li><i class="fas fa-chevron-right"></i> &nbsp; Babysitter</li>
            <li><i class="fas fa-chevron-right"></i> &nbsp; Nanny</li>
            <li><i class="fas fa-chevron-right"></i> &nbsp; Child Care Center</li>
            <li><i class="fas fa-chevron-right"></i> &nbsp; Au Pair</li>
            <li><i class="fas fa-chevron-right"></i> &nbsp; Turor/Privete Lesson</li>
        </ol>
        <button class = btn>View All Services</button>
    </div>
    <div class="about-box3 about-box">
        <h1>Our Tips</h1>
        <div class="about-box3">
            <div class="tip-box">
                <div class="tpb sec-1">
                    <img height="82px" src="res/media/post-img-1-sm.jpg" alt="">
                </div>
                <div class="tpb sec-2">
                    <h6>24/07/2013</h6>
                    <a href="">
                    <h5>Duis Placerat Rhoncus Arcus. sit amet aliquam leo</h5>
                    </a>
                </div>
            </div>
            <div class="tip-box">
                <div class="tpb sec-1">
                    <img height="82px" src="res/media/post-img-2-sm.jpg" alt="">
                </div>
                <div class="tpb sec-2">
                    <h6>21607/2013</h6>
                    <a href="">
                    <h5>Mauris in arcu aliq, elementum nibh nec</h5>
                    </a>
                </div>
            </div>
            <div class="tip-box">
                <div class="tpb sec-1">
                    <img height="82px" src="res/media/post-img-3-sm.jpg" alt="">
                </div>
                <div class="tpb sec-2">
                    <h6>14/07/2013</h6>
                    <a href="">
                        <h5>Vestibulum in ligula rutrum faucibus interdum</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="devider" size = 5 color = #F0F7FA>
<div id="clients-section">
    <h1>Our Clients</h1>
    <div class="clients">
        <img src="res/media/client-logo1.png" alt="">
        <img src="res/media/client-logo2.png" alt="">
        <img src="res/media/client-logo3.png" alt="">
        <img src="res/media/client-logo4.png" alt="">
    </div>
</div>