<div id="footer">
    <div id="footer-menu">
        <div class="footer-sections">
            <h1>Did You Know?</h1>
            <hr class="f-h-devider" NOSHADE>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh. </p>
        </div>
        <div class="footer-sections">
            <h1>Tags Cloud</h1>
            <hr class="f-h-devider" NOSHADE>
            <a href=""><span>Babysitter</span></a>
            <a href=""><span>Babysitter Jovbs</span></a>
            <a href=""><span>Nannies</span></a>
            <a href=""><span>Tutoring</span></a>
            <a href=""><span>Tutors</span></a>
            <a href=""><span>Child Care Jobs</span></a>
            <a href=""><span>Nanny Jobs</span></a>
            <a href=""><span>Child Care</span></a>
        </div>
        <div class="footer-sections">
            <h1>From the Blog</h1>
            <hr class="f-h-devider" NOSHADE>
            <h5>Morbi urna mi, sollicitudin eget nibh fringilla, dignissim mattis</h5>
            <h6>July, 18 2015</h6>
            <br>
            <h5>Ut mauris arcu, fringilla at ipsum in, porta molesite nisi.</h5>
            <h6>July, 21 2015</h6>
            <h6></h6>
        </div>
        <div class="footer-sections">
            <h1>Get Our Newsletter</h1>
            <hr class="f-h-devider" NOSHADE>
            <p>Nulla tincidunt sollicitudin tristique. Sed sed metus malesuada, semper dolor sit amet, eleifend libero. </p>
            <br>
            <input type="search" placeholder="Enter your email here...">
            <input type="submit" value="Go!">
        </div>
    </div>
    <div id="footer-credit">
        <div class="f-sec1">
          COPYRIGHT &copy; 2015 <a href=""><span>BABYSITTER</span></a> NO RIGHTS RESERVED
        </div>
        <div class="f-sec2">
            CREATED BY <a href=""><span>DOESN"T MATTER</span></a>
        </div>
    </div>
</div>